.container {
  margin-top: 0px;
}

.contact-links {
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  // justify-content: space-between;
  justify-content: flex-end;
  margin-top: 10px;
  > div img {
    margin-right: 10px;
  }

  @media only screen and (max-width: 1200px) {
    display: none;
  }
  .mobile {
    order: 1;
  }
  .email {
    order: 2;
  }
  .subscribe {
    order: 3;
  }
  .sociallinks {
    order: 4;
  }
  .login {
    order: 5;
  }

  > div {
    max-height: 25px;
    margin-right: 50px;
    overflow: hidden;
  }
}
.contact-links.mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  > div {
    margin-bottom: 20px;
    input {
      max-width: 200px;
      width: 100%;
    }
  }
  @media only screen and (max-width: 1200px) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .login {
    order: 1;
  }
  .mobile {
    order: 2;
  }
  .email {
    order: 3;
  }
  .subscribe {
    order: 4;
  }
  .sociallinks {
    order: 5;
  }
}
