.header {
  background: white;
  z-index: 10;
  box-shadow: 1px 2px 4px rgba(43, 55, 66, 0.2);
  .container {
    margin-top: 0;
  }
}
.body-content {
  z-index: 5;
  box-shadow: 1px 2px 4px rgba(43, 55, 66, 0.2);
}
