nav.navbar {
  padding: 0;
  .logo {
    margin: 10px 30px 10px 0px;
    @media only screen and (max-width: 400px) {
      margin: 10px 0px;
      max-width: 70%;
    }
    img {
      width: 100%;
      max-width: 250px;
    }
  }
}
.navbar-collapse{

  .nav-item{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    color: #4C525E !important;
    .nav-link{
      padding-left: 0 !important;
      padding-right: 2rem !important;
      &.active{
        color: #00A5D7 !important;
      }
    }
  }
  margin-top: 30px;
  @media only screen and (min-width: 1200px) {
    .nav-item{
      font-size: 22px;
    }
  }
  @media only screen and (max-width: 991px) {
    margin-top: 0;
    .nav-item{
      text-align: center;
    }
  }
}