@import 'scss/colors.scss';

.footer {
  .bottom {
    text-align: center;
    color: white;
    background: #00a5d7;
    background: #8ac71e;
    font-size: 18px;
    padding: 15px 30px;
    p {
      margin: 0;
    }
  }
}
