.about-us {
  padding: 30px 20px;
  padding: 0px 20px 30px;
  p {
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 21px;
  }
  .custom-heading {
    margin: 30px auto 20px;
    font-size: 48px;
    text-align: center;
  }
  img {
    border: 0px solid #60ffff;
    box-sizing: border-box;
  }
  h5 {
    margin-bottom: 30px;
    // margin-top: 50px;
  }
  h6 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
  }
  p {
    font-weight: 300;
  }
}
