.about-us {
  p {
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 21px;
  }
  .custom-text {
    margin-bottom: 108px;
  }

  .profile {
    width: fit-content;
    align-items: center;
    text-align: center;
    .image-wrapper {
      background-repeat: no-repeat;
      background-position: center;
      height: 265px;
      width: 300px;
      margin: auto;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background: url('../../assets/photo-frame-sq.png') center center
          no-repeat;
        // -webkit-transform: rotate(30deg);
        // -moz-transform: rotate(30deg);
        // -ms-transform: rotate(30deg);
        // -o-transform: rotate(30deg);
        // transform: rotate(30deg);
      }
      .profileImage {
        width: 210px;
        height: 210px;
        border-radius: 50%;
        position: absolute;
        border: 1px solid #60ffff;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        margin-top: 37px;
        left: 15px;
        right: 0;
      }
    }
    .profile-name {
      margin-top: 50px;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 2px;
    }
    .profile-heading {
      color: #8ac71e;
      font-size: 25px;
      font-weight: 500;
      font-style: italic;
      margin-top: 10px;
      // margin-top: 50px;
    }
    .profile-text {
      text-align: center;
      font-size: 15px;
      margin-top: 30px;
      margin-bottom: 70px;
    }
  }

  h6 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
  }
  p {
    font-weight: 300;
  }
}

// .profile:nth-child(1) .image-wrapper:before {
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -ms-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   transform: rotate(0deg);
// }
// .profile:nth-child(2) .image-wrapper:before {
//   -webkit-transform: rotate(30deg);
//   -moz-transform: rotate(30deg);
//   -ms-transform: rotate(30deg);
//   -o-transform: rotate(30deg);
//   transform: rotate(30deg);
// }
// .profile:nth-child(3) .image-wrapper:before {
//   -webkit-transform: rotate(60deg);
//   -moz-transform: rotate(60deg);
//   -ms-transform: rotate(60deg);
//   -o-transform: rotate(60deg);
//   transform: rotate(60deg);
// }

$qty: 8; //number of childs
$step: $qty * 30;

@for $i from 0 through $qty - 1 {
  .profile:nth-child(#{$i}) .image-wrapper:before {
    -webkit-transform: rotate(($i * 30) + deg);
    -moz-transform: rotate(($i * 30) + deg);
    -ms-transform: rotate(($i * 30) + deg);
    -o-transform: rotate(($i * 30) + deg);
    transform: rotate(($i * 30) + deg);
  }
}
.profile:nth-child(2) .image-wrapper:before {
  left: 5px;
  bottom: 5px;
}
.profile:nth-child(3) .image-wrapper:before {
  left: 12px;
  bottom: 2px;
}
.profile:nth-child(4) .image-wrapper:before {
  left: 17px;
  top: 3px;
}
.profile:nth-child(5) .image-wrapper:before {
  left: 17px;
  top: 10px;
}
.profile:nth-child(6) .image-wrapper:before {
  left: 17px;
  top: 12px;
}
.profile:last-child .image-wrapper:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  left: 1px;
  top: 20px;
}
