.main-background {
  background-image: url('../../assets/22.svg');
  background-repeat: no-repeat;
  background-position: right 150px;
  color: white;
  h1 {
    font-size: 80px;
    font-weight: 500;
  }
  h4 {
    font-size: 48px;
    line-height: 56px;
    width: 70%;
    padding-top: 50px;
    span {
      color: $yellowGreen;
    }
    @media only screen and (max-width: 991px) {
      width: 90%;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
    width: 55%;
  }

  .info {
    margin-top: 45px;
    margin-bottom: 35px;
    line-height: 1.2;
    width: 35%;
  }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 70px;
    }
    h4 {
      font-size: 36px;
    }
    background-position: right 27%;
  }
  @media only screen and (max-width: 550px) {
    h1 {
      font-size: 60px;
    }
    h4 {
      font-size: 34px;
    }
  }
  @media only screen and (max-width: 500px) {
    h1 {
      font-size: 55px;
    }
    h4 {
      font-size: 32px;
    }
  }
  @media only screen and (max-width: 450px) {
    h1 {
      font-size: 50px;
    }
    h4 {
      font-size: 30px;
      line-height: 1.3;
    }
    background-position: right 25%;
  }
  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 45px;
    }
    h4 {
      font-size: 28px;
      line-height: 1.2;
    }
    background-position: right 20%;
  }
}

h1 {
  text-align: center;
  color: white;
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 46px;
}

h5 {
  font-size: 48px;
  font-weight: 500;
  color: black;
  @media only screen and (max-width: 991px) {
    font-size: 42px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 36px;
  }
  @media only screen and (max-width: 450px) {
    font-size: 28px;
    margin-bottom: 0;
  }
}

.card {
  text-align: center;
  align-items: center;
  background: #104f55;
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  &:hover {
    margin-top: -10px;
    margin-bottom: 10px;
    border: 1px solid $yellowGreen;
  }
  padding: 35px;
  height: 100%;
  padding-bottom: 60px !important;
  &.no-button {
    padding-bottom: 35px !important;
  }
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  h3 {
    margin-top: 18px;
    color: $yellowGreen;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    line-height: 135.01%;
  }
  p {
    margin-top: 21px;
    font-family: Raleway;
  }
  .wrapper {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  img {
    width: 251px;
    height: 233px;
  }
  .service-link {
    display: block;
    font-style: italic;
    margin-top: 21px;
    margin-bottom: 22px;
    color: $yellowGreen;
  }
  box-shadow: 0px 1px 4px rgba(43, 55, 66, 0.1);
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.25);
}

.card-gray {
  background: #f2f6f8;
  border: none;
  border-radius: 5px;
  padding: 40px 60px;
}

.buttom-margin-child .col-xl-4 {
  margin-bottom: 40px;
}
